.screenBig {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  color: #fce006;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  text-align: center;
  display: none;
  z-index: 10;
}

@media screen and (min-width: 510px) {
  .screenBig {
    display: flex;
  }
}
