.status_bar {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  align-items: center;
}

.status_bar .status_bar_column {
  display: flex;
  align-items: center;
}

.status_bar_column i {
  margin-left: 5px;
}

.status_bar .status_bar_time {
  font-size: 14px;
}

.status_bar .fa-battery-three-quarters {
  font-size: 16px;
}

.status_bar .fa-location-arrow {
  font-size: 8px;
}
